altair
apyori
asttokens
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fake-useragent
fastjsonschema
fonttools
gitdb
GitPython
html5lib
idna
importlib-metadata
ipykernel
ipython
jedi
jieba
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
nbformat
nest-asyncio
numpy
packaging
pandas
parso
pillow
pip
platformdirs
plotly
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
pyxlsb
pyzmq
referencing
requests
rich
rpds-py
scikit-learn
scipy
six
smmap
soupsieve
stack-data
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
XlsxWriter
zipp
